.login {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

.login-item {
    /* flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* background-color: rgb(188, 251, 230); */

}

.login-item input {
    margin: 25px;
    padding: 5px;
    border: none;
    border: 1px solid rgb(119, 236, 197);;
}

.login-item input[type="button"] {
    padding: 15px;
    border-radius: 10px;
    background-color: rgb(119, 236, 197);

}
h1{
    color: rgb(40, 151, 114);
}
