.login {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}

.login-item {
    /* flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* background-color: rgb(188, 251, 230); */

}

.login-item input {
    margin: 25px;
    padding: 5px;
    border: none;
    outline: none;
    border: 1px solid rgb(119, 236, 197);
    border-radius: 4px;
}

.login-item input[type="submit"] {
    padding: 10px 15px;
    border-radius: 10px;
    background-color: rgb(119, 236, 197);
    color: white;


}

.login h1 {
    color: rgb(40, 151, 114);
}

.hide-show {
    position: absolute;
    /* left: 55%;  */
    /* top: 49%;   */
    transform: translate(-360%, 130%);
    cursor: pointer;
}

/* @media (min-width :576px) {
    .hide-show {
    left: 63%;
    top: 46%;
}
}
@media (min-width :768px){
        .hide-show {
        left: 60%;
        top: 46%;
    }
}
@media (min-width :864px){
        .hide-show {
        left: 56%;
        top: 47%;
    }
}
@media (min-width :1200px){
        .hide-show {
        left: 54%;
    }
} */