.product{
    display: flex;
    padding: 0 180px;
    margin-top: 20px;
}
.product_img{
    width: 500px;
    height: 500px;
    object-fit: cover;
    align-items: center;
}
.product_img img{
    width: 80%;
    height: 80%;
}
